<h2>Load all data we need from all datasets. Get all the columns and things we need. Save cleaned dfs to use to make d3 vis

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
import plotly.express as px
import geopandas as gpd
import requests

<h3>Load Data

In [45]:
API_TOKEN = 'tRPy6aES2cCa26Y6QSvwPzC8eswqiiVFPGAJ'
BASE_URL = "https://api.iucnredlist.org/api/v4"

In [68]:
def get_species_by_group(class_name):
    """
    Fetch all species for a taxonomic group (e.g., 'Amphibia')
    Returns a list of species dictionaries
    """
    url = f"{BASE_URL}/taxa/class/{class_name}"
    headers = {
        "Authorization": API_TOKEN,
        "Accept": "application/json"
    }
    response = requests.get(url, headers=headers)
    if response.status_code != 200:
        print("Error:", response.status_code)
        return []
    
    data = response.json()
    return data.get('assessments', [])

def get_threats(sis_id):
    url = f"{BASE_URL}/threats/species/{sis_id}"
    headers = {"Authorization": API_TOKEN, "Accept": "application/json"}
    response = requests.get(url, headers=headers)
    return response.json().get("threats", [])


def get_assessments(assessment_id):
    url = f"{BASE_URL}/assessment/{assessment_id}"
    headers = {"Authorization": API_TOKEN, "Accept": "application/json"}
    response = requests.get(url, headers=headers)
    return response.json()

In [52]:
#amphibians
amphibians = get_species_by_group("Amphibia")
print(f"Fetched {len(amphibians)} amphibian species")
print(amphibians[:2])  # preview first 2

#reptiles
reptiles = get_species_by_group("Reptilia")
print(f"Fetched {len(reptiles)} reptile species")
print(reptiles[:2])  # preview first 2

Fetched 100 amphibian species
[{'year_published': '2020', 'latest': True, 'possibly_extinct': False, 'possibly_extinct_in_the_wild': False, 'sis_taxon_id': 12776, 'url': 'https://www.iucnredlist.org/species/12776/508612', 'taxon_scientific_name': 'Mantella aurantiaca', 'red_list_category_code': 'EN', 'assessment_id': 508612, 'scopes': [{'description': {'en': 'Global'}, 'code': '1'}]}, {'year_published': '2016', 'latest': False, 'possibly_extinct': False, 'possibly_extinct_in_the_wild': False, 'sis_taxon_id': 1301, 'url': 'https://www.iucnredlist.org/species/1301/511335', 'taxon_scientific_name': 'Anhydrophryne rattrayi', 'red_list_category_code': 'VU', 'assessment_id': 511335, 'scopes': [{'description': {'en': 'Global'}, 'code': '1'}]}]
Fetched 100 reptile species
[{'year_published': '2021', 'latest': True, 'possibly_extinct': False, 'possibly_extinct_in_the_wild': False, 'sis_taxon_id': 10041, 'url': 'https://www.iucnredlist.org/species/10041/495907', 'taxon_scientific_name': 'Heosemys annandalii', 'red_list_category_code': 'CR', 'assessment_id': 495907, 'scopes': [{'description': {'en': 'Global'}, 'code': '1'}]}, {'year_published': '2012', 'latest': True, 'possibly_extinct': False, 'possibly_extinct_in_the_wild': False, 'sis_taxon_id': 10803, 'url': 'https://www.iucnredlist.org/species/10803/498726', 'taxon_scientific_name': 'Iguanognathus werneri', 'red_list_category_code': 'DD', 'assessment_id': 498726, 'scopes': [{'description': {'en': 'Global'}, 'code': '1'}]}]

In [93]:
def create_df(animal_json):
    rows = []
    for species in animal_json:
        assessment = get_assessments(species["assessment_id"])
        
        if isinstance(assessment, dict) and "result" in assessment:
            assessment = assessment["result"][0]

        # Safely extract threats and threat codes
        threats_list = assessment.get("threats", []) or []
        threats = [
            (t.get("description", {}).get("en") if isinstance(t.get("description"), dict)
             else t.get("description"))
            for t in threats_list
        ]
        threats_code = [
            (t.get("code", {}) if len(threats_list)>=0
             else 0)
            for t in threats_list
        ]

        # Safely extract habitats
        habitat_list = assessment.get("habitats", []) or []
        habitats = [
            (h.get("description", {}).get("en") if isinstance(h.get("description"), dict)
             else h.get("description"))
            for h in habitat_list
        ]

        # Safely extract population trend
        pop = assessment.get("population_trend", {})
        if isinstance(pop, dict):
            population_trend = (
                pop.get("description", {}).get("en")
                if isinstance(pop.get("description"), dict)
                else pop.get("description")
            )
        
        
        rows.append({
            "taxon":assessment['taxon']['class_name'],
            "species_name": species["taxon_scientific_name"],
            "red_list_category": species["red_list_category_code"],
            "threats": threats,
            "threats_code":threats_code,
            "population_trend": population_trend,
            "habitats": habitats
        })
    return pd.DataFrame(rows)

In [94]:
amphibian_df = create_df(amphibians)

amphibian_df.columns
amphibian_df.shape
amphibian_df.head(3)

,taxon,species_name,red_list_category,threats,threats_code,population_trend,habitats
0,AMPHIBIA,Mantella aurantiaca,EN,"[Intentional use (species is the target), Mini...","[5_1_1, 3_2, 2_1_1, 7_1_3, 5_3_3, 2_1_2, 1_1, ...",Decreasing,"[Forest - Subtropical/Tropical Swamp, Wetlands..."
1,AMPHIBIA,Anhydrophryne rattrayi,VU,"[Agro-industry plantations, Unspecified specie...","[2_2_2, 8_1_1, 7_1_1, 5_3_3]",Unknown,"[Forest - Temperate, Grassland - Temperate]"
2,AMPHIBIA,Bokermannohyla itapoty,LC,[],[],Stable,[Grassland - Subtropical/Tropical High Altitud...

In [95]:
reptile_df = create_df(reptiles)

reptile_df.columns
reptile_df.shape
reptile_df.head(3)

,taxon,species_name,red_list_category,threats,threats_code,population_trend,habitats
0,REPTILIA,Heosemys annandalii,CR,[Intentional use: (subsistence/small scale) [h...,"[5_4_1, 1_1, 4_1, 9_3_3, 11_1, 5_1_1]",Decreasing,[Wetlands (inland) - Seasonal/Intermittent Fre...
1,REPTILIA,Iguanognathus werneri,DD,[],[],Decreasing,[Unknown]
2,REPTILIA,Indotestudo elongata,CR,"[Scale Unknown/Unrecorded, Unintentional effec...","[2_1_4, 5_2_2, 5_1_1, 2_1_2, 4_1, 9_3_2, 5_1_2]",Decreasing,"[Shrubland - Subtropical/Tropical Dry, Forest ..."

In [96]:
combined_df = pd.concat([amphibian_df, reptile_df]).reset_index(drop=True)

combined_df.shape
combined_df.head()

,taxon,species_name,red_list_category,threats,threats_code,population_trend,habitats
0,AMPHIBIA,Mantella aurantiaca,EN,"[Intentional use (species is the target), Mini...","[5_1_1, 3_2, 2_1_1, 7_1_3, 5_3_3, 2_1_2, 1_1, ...",Decreasing,"[Forest - Subtropical/Tropical Swamp, Wetlands..."
1,AMPHIBIA,Anhydrophryne rattrayi,VU,"[Agro-industry plantations, Unspecified specie...","[2_2_2, 8_1_1, 7_1_1, 5_3_3]",Unknown,"[Forest - Temperate, Grassland - Temperate]"
2,AMPHIBIA,Bokermannohyla itapoty,LC,[],[],Stable,[Grassland - Subtropical/Tropical High Altitud...
3,AMPHIBIA,Pseudis platensis,LC,"[Agro-industry farming, Small-holder grazing, ...","[2_1_3, 2_3_2, 2_3_3, 7_1_1, 1_1, 4_1]",Stable,[Wetlands (inland) - Seasonal/Intermittent Fre...
4,AMPHIBIA,Tsingymantis antitra,EN,"[Small-holder grazing, ranching or farming, In...","[2_3_2, 5_3_1, 3_2]",Unknown,[Wetlands (inland) - Permanent Rivers/Streams/...

In [ ]:
risk_map = {
    "LC": 0,   # Least Concern
    "NT": 1,   # Near Threatened
    "VU": 2,   # Vulnerable
    "EN": 3,   # Endangered
    "CR": 4,   # Critically Endangered
    "EW": 5,   # Extinct in the Wild
    "EX": 6    # Extinct
}

combined_df["risk_score"] = combined_df["red_list_category"].map(risk_map)

In [101]:
def threats_map(threat_codes):
    threats = {
        '1':"Residential & commercial development",
        '2':"Agriculture & aquaculture",
        '3':"Energy production & mining",
        '4':"Transportation & service corridors",
        '5':"Biological resource use",
        '6':"Human intrusions & disturbance",
        '7':"Natural system modifications",
        '8':"Invasive and other problematic species, genes & diseases",
        '9':"Pollution",
        '10':"Geological events",
        '11':"Climate change & severe weather",
        '12':"Other options"
    }
    output = []
    for code in threat_codes:
        val = code[0]
        output.append(threats[val])
    return output
        

   
threats_map(["5_1_1", "3_2", "2_1_1", "7_1_3"])

['Biological resource use',
 'Energy production & mining',
 'Agriculture & aquaculture',
 'Natural system modifications']

Threat slider → applicable when threat list contains:

| Slider	 |       Keyword to search for	   |    Effect |
| :--------- | :-----------------------------: | ---------: |
| Temperature rise|	“Climate change”, “Temperature”, “Drought”	   |       Add risk |
| Habitat loss	|    “Habitat”, “Agriculture”, “Deforestation”, “Logging”	| Add risk|
| CO₂ concentration	|Global climate threats	              |                  Add risk |

In [83]:
def compute_sensitivity(row):
    threats = " ".join(row["threats"]).lower()

    return {
        "temp_sensitive": any(word in threats for word in ["climate", "temperature", "drought"]),
        "habitat_sensitive": any(word in threats for word in ["habitat", "agriculture", "forest", "logging", "urban"]),
        "co2_sensitive": any(word in threats for word in ["climate", "greenhouse", "warming"])
    }
    
combined_df['habitat_sensitive'] = combined_df.apply(compute_sensitivity, axis=1)
combined_df.head()

,taxon,species_name,red_list_category,threats,population_trend,habitats,habitat_sensitive
0,AMPHIBIA,Mantella aurantiaca,EN,"[Intentional use (species is the target), Mini...",Decreasing,"[Forest - Subtropical/Tropical Swamp, Wetlands...","{'temp_sensitive': False, 'habitat_sensitive':..."
1,AMPHIBIA,Anhydrophryne rattrayi,VU,"[Agro-industry plantations, Unspecified specie...",Unknown,"[Forest - Temperate, Grassland - Temperate]","{'temp_sensitive': False, 'habitat_sensitive':..."
2,AMPHIBIA,Bokermannohyla itapoty,LC,[],Stable,[Grassland - Subtropical/Tropical High Altitud...,"{'temp_sensitive': False, 'habitat_sensitive':..."
3,AMPHIBIA,Pseudis platensis,LC,"[Agro-industry farming, Small-holder grazing, ...",Stable,[Wetlands (inland) - Seasonal/Intermittent Fre...,"{'temp_sensitive': False, 'habitat_sensitive':..."
4,AMPHIBIA,Tsingymantis antitra,EN,"[Small-holder grazing, ranching or farming, In...",Unknown,[Wetlands (inland) - Permanent Rivers/Streams/...,"{'temp_sensitive': False, 'habitat_sensitive':..."

In [84]:
emissions_df = pd.read_csv('indicator_quarterly.csv')

emissions_df.head(3)

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS Code,CTS Name,CTS Full Descriptor,...,2022Q4,2023Q1,2023Q2,2023Q3,2023Q4,2024Q1,2024Q2,2024Q3,2024Q4,2025Q1
0,1,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",...,64.688709,61.319185,65.867074,68.262567,66.039285,62.452184,73.597480,75.162258,71.925035,70.263853
1,2,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",...,64.104215,64.183297,65.752729,65.954354,65.597731,65.374440,72.340776,72.275717,72.779925,74.291176
2,3,Advanced Economies,NaN,AETMP,Quarterly greenhouse gas (GHG) air emissions a...,Million metric tons of CO2 equivalent,Organisation for Economic Co-operation and Dev...,ECNGA,Greenhouse Gas Emissions (GHG); Air Emissions ...,"Environment, Climate Change, Greenhouse Gas Em...",...,0.248269,0.237558,0.236841,0.235717,0.241366,0.233355,0.236395,0.238220,0.242984,0.235360

<h1>For Temperature Slider</h1>

We don't need a temperature df for this

temp =  baseline temp of 1.2 degrees Celsius (global temp) + slider value (user input temp)

risk_increase = (new_temp - baseline) * sensitivity

then for each species see what their habitat/threats are and assign each a sensitivity to rising temps

In [ ]:
temp = 1.2 #+ slider_val
risk_increase = (temp-1.2) #* sensitivity

In [ ]:
# maps how sensitive a species is to temperature so if they have climate, or habitat, 
# or pollution in their threats column, they are are most likely sensitive to temp increase. 
# We can come up with better and more of these words
def compute_temp_sensitivity(threats):
    threats_str = " ".join(threats).lower()
    if "climate" in threats_str:
        return 0.4
    elif "habitat" in threats_str:
        return 0.25
    elif "pollution" in threats_str:
        return 0.15
    else:
        return 0.05
    
    

def simulate_temperature_effect(df, temp_increase):
    df = df.copy()
    df["temp_sensitivity"] = df["threats"].apply(compute_temp_sensitivity)
    df["risk_shift_temp"] = df["temp_sensitivity"] * temp_increase
    return df

In [86]:
combined_df['threats'][0]

['Intentional use (species is the target)',
 'Mining & quarrying',
 'Shifting agriculture',
 'Trend Unknown/Unrecorded',
 'Unintentional effects: (subsistence/small scale) [harvest]',
 'Small-holder farming',
 'Housing & urban areas',
 'Seepage from mining',
 'Named species']